:root {
    --primary-brand: #4d5ae5;
    --text-color: #434455;
    --white: #ffffff;
    --subtle-text-color: #8e8f99;
    --modal-background: #fcfcfc;
    --navy-blue: #2e2f42;
    --slate: #434455;
    --cloud: #f4f4fd;
    --cornflower: #e7e9fc;
    --ocean: #404bbf;

}

body {
    font-family: Raleway, Roboto, sans;
    color: var(--text-color);
    background-color: var(--modal-background);

}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.logo {
    color: var(--primary-brand);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.logo-part-two {
    color: var(--navy-blue);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.header {
    background-color: var(--white-background);
}
.menu {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px
}
.contacts {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.hero {
    background-color: var(--navy-blue);
    color: var(--white);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
}
.button {
    border-radius: 4px;
    background: var(--primary-brand);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
}
.header-three {
    color: var(--navy-blue);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
.subtle-text {
    color: var(--slate);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.section-header {
    color: var(--navy-blue);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.tc-name {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
.team-card .subtle-text {
    text-align: center
}
.footer .logo-part-two {
    color: var(--cloud);
}
.footer{
    background-color: var(--navy-blue);
}
.footer .subtle-text {
    color: var(--cloud);
}
.portfolio-button {
    color: var(--primary-brand);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    background: var(--cloud);
}
.portfolio-button:hover,
.portfolio-button:focus {
    cursor: pointer;
    border-radius: 4px;
    background: var(--ocean);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    color: var(--white);
}
